	body {
		background-image: url(https://cdnb.artstation.com/p/assets/images/images/045/641/315/large/deadface-legacy-final.jpg?1643198576);
		
		background-repeat: no-repeat;
		background-position: top;
		background-size:     1520px 1400px;

		background-color:  #cec0e2;
		color:		   #331c01eb;

		font-family: Georgia, "Times New Roman", Times, serif;
		font-size:   115%;
		font-weight: 600;
		
		

}

	h1 {
		font-size: 160%;
		text-align: center;
		text-decoration: none;
		color: #331c01;


}


	a {
		text-decoration: none;
		font-family: comic-sans;
		
		font-weight:    600;

		
}
	a:link {
		color: #f0b415;
}

	a:visited {
		color: #49117c;
}

	a:hover {
		color: #1714d2;
}




	a:active {
		color: #dadada;
}

	div#info {
		font-size: 100%;
		padding: 0px 20px 0px 20px;
		text-align: justify;
		line-height: 130%;

		
}

	

	div#info em {
		color: #f0b415;
}



	div#container {
		
		width: 880px;
		margin: auto;
		margin-top: 310px;

		background-color: rgba(153, 123, 197, .95);
		
		


		padding: 10px;
		border: ridge #83817ae6 5px;
		border-radius: 10px;
		

}

	div#secondcon {
		margin: 20px;
		
}




	div#list {
		display: table;
		border-spacing: 6px;
		margin: auto;
		padding: 40px 0px 0px 0px;
		text-align: center;
		vertical-align: middle;
		



}

	div.tablerow {
		display: table-row;
		


		
}

	.bar {
		display: table-cell;
		padding: 5px 15px 5px 15px;
		border: solid  2px #f0b415;
		border-radius: 4px;
		vertical-align: top;
		text-align: center;
		vertical-align: middle;

		

}


	div.bar p {
		margin: 0px;
}



	div.firstline {
		border: solid 2px;
		border-color: #d8d4cb #d8d4cb #272725 #272725;

}

	div.secondline {
		border: solid 2px;
		border-color: #d8d4cb #272725 #272725 #d8d4cb;
}



	ol {
		padding-left: 81px;
		
		
}

	div#article {
		text-align: right;
			
		
}

	div#article a {
		font-size: 150%;
		
}

	div#article a:visited {
		color: #f0b415;
		
}

	div#article a:hover {
		color: #f0b415;
		
		
}
	

	div#article a:active {
		color: #dadada;
}

	img.cover {
		width: 125px;
}



	.header span {
		margin-left: -999em;
		position: absolute;
}

	.header:hover span {
		
		margin-left: 0;
		left: 8em;
		top: 4em;
		

}


	@media screen and (max-device-width: 480px) {

		body {
			background-size: 1750px 3050px;
	}

		div#container {
			padding: 1px;
			margin-top: 0px;
			width:	    auto;

			border: ridge #83817ae6 10px;
			background-color: rgba(153, 123, 197, .92);
}

		div#secondcon {
			margin: 2px;
}

		div#info {
			
	}
		div#list {
			font-size: 145%;
			
	}


		h1 {
			font-size: 420%;
			
			
	}

		.bar { 
			border: outset  3.8px #f0b415;
			padding: 2px;
			
	}

		.bar a {
			font-size: 120%;
	}

		div#info {
			font-size: 300%;
	}

		div#list {
			font-size: 195%;
	}


		div#solo {
			font-size: 200%;
	}


		div.firstline {
			border: solid 4px;
   			border-color: #d8d4cb #d8d4cb #272725 #272725;
	}

		div.secondline {
			border: solid 4px;
    			border-color: #d8d4cb #272725 #272725 #d8d4cb;
	}

		div#article {
			font-size: 180%;
	}


}

		

	
