	body {
		background-image: url(https://cdnb.artstation.com/p/assets/images/images/045/641/315/large/deadface-legacy-final.jpg?1643198576), url(https://img.freepik.com/premium-vector/rustic-blak-brick-wall-background_92086-243.jpg);
		
		background-repeat: no-repeat, repeat;
		background-position: top;
		background-size: 1330px, 500px;

		background-color:  #cec0e2;
		color:		   #331c01eb;

		font-family: Georgia, "Times New Roman", Times, serif;
		font-size:   90%;
		font-weight: 600;
		
		
}		


	div#allcontent {
		

		
		
}
		
	div#info_up {
		
		
		width: 1025px;
		margin-left: 80px;
		
		margin-bottom: 30px;

		background-color: rgba(153, 123, 197, .95);
		
		
		


		padding: 10px;
		border: ridge #ffffffed 5px;
		border-radius: 10px;
		margin: auto;
		margin-top: 310px;
}

	div#table_container {
		
		display: table;
		border-spacing: 6px;
		margin-left: 74px;
		margin: auto;

}	

	div#table_row {
		display: table-row;
}

	nav {
		text-decoration: none;
		text-align: right;
		list-style-type: none;
		margin: 2px;
		padding: 2px;
}

	nav ul {
		list-style-type: none; 
}


	h1 {
		font-size: 160%;
		text-align: center;
		text-decoration: none;
		color: #331c01eb;
		padding: 10px;
		margin-left: 230px;
		margin-right: 230px;

		
		box-shadow: 0px 15px 15px  #705793f2;
		border-radius: 8px;


}


	a {
		text-decoration: none;
		font-family: comic-sans;
		
		font-weight:    600;

		
}
	a:link {
		color: #f0b415;
}

	a:visited {
		color: #49117c;
}

	a:hover {
		color: #1714d2;
}




	a:active {
		color: #dadada;
}

	p#info {
		
		padding: 5px;
		margin: 20px;

		text-align: justify;
		line-height: 130%;

		
}

	

	p#info em {
		color: #f0b415;
}


	div#maintable h2 {
		text-align: center;

}


	div#maintable {
		display: table-cell;
		
		width: 700px;
		margin-left: 20px;
		margin-top: 10px;

		background-color: rgba(153, 123, 197, .95);
		
		
		


		padding: 10px;
		border: ridge #ffffffa3 5px;
		border-radius: 10px;
		
}


	

	table#list {

		display: table;
		border-spacing: 6px;
		margin: auto;
		

		padding: 4px;
		
		text-align: center;
		vertical-align: middle;


}

	table#list2 {

		display: table;
		border-spacing: 6px;
		margin: auto;
		

		padding: 4px;
		
		text-align: center;
		vertical-align: middle;


}



	table#list  a {
		
		padding: 6px 40px 6px 40px;
}

	tr.tablerow {
		display: table-row;
		


		
}

	.bar {
		display: table-cell;
		padding: 6px;
		
		border-radius: 4px;
		
		text-align: center;
		vertical-align: middle;

		background-color: rgba(153, 123, 197, .70);
		
		
}

	

	


	td.bar p {
		margin: 0px;
}



	th.firstline {
		border: solid 2px;
		border-color: #d8d4cb #d8d4cb #272725 #272725;

}
	td.firstline {
		border: solid 2px;
		border-color: #d8d4cb #d8d4cb #272725 #272725;

}

	th.secondline {
		border: solid 2px;
		border-color: #d8d4cb #272725 #272725 #d8d4cb;

}

	td.secondline {
		border: solid 2px;
		border-color: #d8d4cb #272725 #272725 #d8d4cb;

}


	


	div#solo_table {
		display: table-cell;

		padding: 10px;
		width: 290px;
		background-color: rgba(153, 123, 197, .95);

		border: ridge #ffffffa3 5px;
		border-radius: 10px;
		text-align: center;
}


	

	div#article {
		text-align: right;
			
		
}

	div#article a {
		font-size: 150%;
		
}

	div#article a:visited {
		color: #f0b415;
		
}

	div#article a:hover {
		color: #f0b415;
		
		
}
	

	div#article a:active {
		color: #dadada;
}

	img.cover {
		width: 125px;
}



	.header span {
		margin-left: -999em;
		position: absolute;
}

	.header:hover span {
		
		margin-left: 0;
		left: 8em;
		top: 4em;
		

}


	@media screen and (max-device-width: 480px) {

		body {
			background-size: 1559px 1473px;
			background-position: 45% 0%;

	}

		div#table_container {
			width: 1060px;
}

		div#maintable {
			padding: 1px;
			margin-top: 0px;
			width:	    auto;

			border: ridge #ffffffa3 10px;
			background-color: rgba(153, 123, 197, .92);
}

		div#secondcon {
			margin: auto;
			width: auto;
}

		table#list {
			font-size: 145%;
			margin: auto;
			
	}

		table#list a {
			padding: 0px;
}

		h1 {
			font-size: 340%;
			
			
			margin: 25px;
			margin-bottom: 60px;
			box-shadow: 0px 15px 10px 10px  #705793f2;

			
			
			
	}

		.bar { 
			border: outset  3.8px #f0b415;
			padding: 2px;
			
	}

		.bar a {
			font-size: 120%;
	}

		div#info {
			margin: auto;
			margin-top: 0px;
		
	}

		

		div#solo {
			font-size: 200%;
			border: ridge #ffffffa3 5px;
	}


		th.firstline {
			border: solid 4px;
   			border-color: #d8d4cb #d8d4cb #272725 #272725;
	}

		th.secondline {
			border: solid 4px;
    			border-color: #d8d4cb #272725 #272725 #d8d4cb;
	}

		div#article {
			font-size: 180%;
	}


}

		

	
